@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@100;200;300&display=swap');

html, body {
  padding: 0;
  margin: 0 auto;
  font-weight: 700;
  text-align: center;
  font-family: 'Spartan', sans-serif;
}

input {
  border-width: 0px;
  padding-right: 0px;
  border-radius: 15px;
  border-color: transparent;
  font-family: 'Spartan', sans-serif;
}

h1 {
  margin: 0px;
  padding: 20px 0;
  font-size: 1.5em;
  color:hsl(0, 0%, 100%);
}

p {
  margin: 5px auto;
  margin-top: 0px;
  font-size: 10px;
  color: hsl(0, 0%, 59%);
}

h2 {
  margin: 5px auto;
  margin-top: 0px;
  font-size: 15px;
  color:hsl(0, 0%, 17%);
}

input:focus { 
  outline: none !important;
}

/*==========  Media Queries Rules  ==========*/
@media only screen and (orientation: landscape) {
  h1 {
    padding: 20px 0px;;
  }

  h2, p {
    text-align: left;
  }
}

