/* 
color:hsl(0, 0%, 17%);
color: hsl(0, 0%, 59%);
*/

/*==========  ID Rules  ==========*/
#absolute {
  z-index: 2;
  margin-top: 70px;
  position: absolute;
}

#map {
  width: 100%;
  height: 70vh;
  z-index: 1;
}

#inputter {
  width: 90%;
  height: 100%;
  padding: 0% 5%
}

#data {
  width: 80%;
  height: fit-content;
  margin: 20px auto;
  padding: 10px 0px;
  border-radius: 10px;
  background-color:hsl(0, 0%, 100%);
  box-shadow: 1px 9px 15px 5px rgba(0, 0, 0, 0.3);
}

#flexbox {
  width: 90%;
  height: 100%;
  display: flex;
  margin: 0px auto;
  flex-wrap: nowrap;
  flex-direction: column;
}


/*==========  Class Rules  ==========*/
.item {
  width: 80%;
  padding: 0px 10px;
  margin: 15px auto;
  margin-bottom: 0px;
}

.cont {
  margin: 18px auto;
  width: fit-content;
  height: fit-content;
}

.body {
  width: 100%;
  height: fit-content; 
  position: relative;
}

.header {
  width: 100%;
  height: 30vh;
  position: relative;
  background: url(/pattern-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.form {
  width: 80%;
  height: 50px;
  margin: 0 auto;
  position: relative;
}

.button {
  top: 0;
  right: 0;
  z-index: 2;
  width: 50px;
  height: 52px;
  position: absolute;
  transform: translateX(2px);
  border-top-right-radius:15px;
  border-bottom-right-radius: 15px;
  background-color:hsl(0, 0%, 0%);
}



/*==========  Animation Rules  ==========*/



/*==========  Media Queries Rules  ==========*/
@media only screen and (orientation: landscape) {
  #border {
    border-right: none;
  }

  #map {
    height: 60vh;
  }

  .header {
    height: 40vh;
  }
  
  .form {
    width: 50%;
  }

  #flexbox {
    flex-direction: row;
  }

  .item {
    width: 21%;
    border-right: 1px solid hsl(0, 0%, 59%);;
  }
}

@media only screen and (min-width: 1024px) {
  .header {
    height:23vh;
  }

  #map {
    height: 77vh;
  }

  .form {
    width: 40%;
  }

  #data {
    width: 60%;
  }
}

@media only screen and (min-width: 1370px) {
  .header {
    height:27vh;
  }

  #map {
    height: 73vh;
  }
}